body {
  background-color: black;
  color: white;
}
aside a, aside a:hover, aside a:visited {
  color: #444;
}
footer a {
  color: #111;
  text-decoration: none;
}

@media print, screen and (max-width: 1024px) {

  main#content {
    border: 1px solid #2e2e2e;
    border-width: 1px 0;
  }
