body {
  padding: 50px;
  color: #777;
}

div.wrapper {
  width: 960px;
  margin: 0 auto;
}

aside {
  position: fixed;
  float: left;
  width: 450px;
}
aside h1 {
  float: left;

  width: 250px;
  font-size: 16px;
}

aside nav {
      display: inline-block;
}

aside nav ul {
    list-style-type: none;
}
