body {
  padding: 50px;
  color: #444;
  font-family: Consolino, monospace;
  font-size: 16px;
  width: 960px;
  margin: 0 auto;
}

aside {
  position: fixed;
  float: left;
  width: 200px;
  line-height: 2em;
}

aside h1 {
  float: left;
  width: 100px;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

aside nav {
  display: inline-block;
}

aside nav ul {
  list-style-type: none;
  margin: 0;
}

aside a, aside a:hover, aside a:visited {
  color: #444;
  text-decoration: none;
}

main#content {
  width: 700px;
  float: right;
  padding-bottom: 50px;
  font-size: 14px;
}

main img {
  max-width: 100%;
}

main > ul {
  list-style-type: none;
  padding-left: 0;
}

.links > ul {
  list-style-type: none;
  padding-left: 1em;
  margin-bottom: 0.5em;
}

.links > ul li {
  margin-bottom: 0.3;
}

main > ul img {
  margin-bottom: 150px;
}

main > ul p {
  margin-top: 2em;
  margin-bottom: 2em;
}

main > ul a {
  color: #444;
  text-decoration: none;
}

main > ul a:visited {
  color: #777;
  text-decoration: none;
}

footer a {
  color: #eee;
  text-decoration: none;
}

footer a:hover {
  color: #444;
}

pre {
  margin-top: 8px
}

code {
  font-family: Consolino, monospace;
}

.video {
  position: relative;
  padding-bottom: 56.3%;
  margin: 0;
  height: 0;
  overflow: hidden;
}

.vierdrei {
  padding-bottom: 80%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  width: 370px;
  float: left;
  position: fixed;
  bottom: 50px;
}

footer p {
  margin: 0px;
}

/* adapt to small screens */

@media print, screen and (max-width: 1024px) {

  body {
    width: auto;
    margin: 0;
  }

  aside, main#content, footer {
    float: none;
    position: static;
    width: auto;
  }

  aside {
    padding-right: 320px;
  }

  main#content {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  aside ul li {
    display: inline;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  aside {
    padding: 0;
  }

  pre, code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
