<!DOCTYPE html>
<html>
<head>
<title>VANITAS WOLF</title>
<meta name=viewport content="width=device-width">
<meta name=keywords content="Anita Wolf, Künstlerin, artist, AdbK, Karlsruhe, Akademie der bildenden Künste, Germany, Malerei, Installation, Multimedial,">
<link rel="shortcut icon" href=/skul1l.ico>
<link rel=stylesheet href=/stylesheets/conso.css>
<link rel=stylesheet href=/stylesheets/styles.css>
{% for css in page.style %}<link rel=stylesheet href=/stylesheets/{{ css }}.css>{% endfor %}
{% for script in page.script %}<script src={{ script }}></script>{% endfor %}

</head>

<body>
<aside>
  
  <div itemscope itemtype="http://schema.org/Person">
    <h1><a itemprop="url" href="http://vanitaswolf.de"><span itemprop="name">Anita Wolf</span></a></h1>
    <meta itemprop="jobtitle" content="Artist"/>
    <meta itemprop="birthdate" content="1983-04-02">
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <meta itemprop="addressLocality" content="Karlsruhe"/>
      <meta itemprop="addressCountry" content="Germany"/>
    </div>
  </div>

  <nav>
    <ul>
      <li><a href=/works>works</a></li>
      <li><a href=/vita>vita</a></li>
      <li><a href=/theory>theory</a></li>
      <li><a href=/contact>contact</a></li>
      <li><a href=/impressum>impressum</a></li>
      <li style="margin-top:45px"><a href=/links>links</a></li>
    </ul>   
  </nav>
</aside>

<main id=content>

{{ content }}

</main>


<footer>
  <a title="please, stay away" href="{{ site.repository }}/edit/master/{% if page.collection %}{{ page.relative_path }}{% else %}{{ page.path }}{% endif %}">✎ ändern</a>
  <a href="datenschutz.html" target="_blank">Datenschutzbestimmungen</a>
</footer>
</body>
</html>
